.root {
  :global(.react-aria-NumberField) {
    color: var(--g-input-textColor);
    width: 100%;
    display: flex;
    flex-direction: column;

    [slot='description'] {
      @include description;
    }
  }

  :global(.input-text-stack) {
    @include inputTextStack;
  }

  :global(.input-text) {
    @include inputTextStack;
  }

  :global(.react-aria-FieldError) {
    @include fieldError;
  }

  :global(.react-aria-Group) {
    display: flex;
    width: 100%;
    border-radius: var(--g-radius);
    overflow: visible;
  }
}
