.reorderableList {
  width: 100%;
}
.reorderableItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  cursor: grab;
  cursor: pointer;
  &.dropTarget {
    border-bottom: 2px solid var(--g-colors-primary-1000);
    padding-bottom: var(--g-spacing-24);
  }
  &.dragging {
    background-color: var(--g-colors-primary-100);
    box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.19);
  }
}
.dragHandle {
  cursor: 'grab';
  margin-right: var(--g-spacing-8);
}
