.gridContainer {
  container-type: inline-size;
  width: 100%;
}

.grid {
  display: grid;
  @include responsive-properties(
    (
      'gap': normal,
      'grid-template-columns': none,
      'grid-template-rows': none,
      'grid-template-areas': none,
      'grid-auto-flow': row,
      'align-items': normal,
      'justify-items': legacy,
      'justify-content': normal,
    )
  );
}
