.documentList {
  width: 100%;

  :global(.react-aria-Cell) {
    width: 50%;
  }
}

.formTitle {
  font-weight: var(--g-fontWeightMedium);
}

.formDescription {
  font-weight: var(--g-fontWeightRegular);
}

.statusCell {
  white-space: nowrap;
}

.documentListError {
  text-align: center;
  margin: toRem(32) 0;
}
