:global(.GSDK) {
  .container {
    display: flex;
    width: 100%;
    position: relative;
    border-radius: var(--g-inputRadius);
    background: var(--g-inputBackgroundColor);
    height: toRem(40);
    box-shadow: var(--g-shadowResting);

    &.hasAdornmentStart {
      :global(.react-aria-Input) {
        border-end-start-radius: 0;
        border-start-start-radius: 0;
      }
    }

    &.hasAdornmentEnd {
      :global(.react-aria-Input) {
        border-end-end-radius: 0;
        border-start-end-radius: 0;
      }
    }

    &[data-disabled='true'] {
      background-color: var(--g-inputDisabledBackgroundColor);
      opacity: 0.5;
    }

    :global(.react-aria-Input) {
      background: transparent;
      border: var(--g-inputBorderWidth) solid var(--g-inputBorderColor);
      border-radius: var(--g-inputRadius);
      padding: toRem(8) toRem(12);
      font-size: var(--g-fontSizeSmall);
      color: var(--g-inputContentColor);
      outline: none;
      width: 100%;
      height: 100%;
      line-height: var(--g-fontLineHeight);

      &[data-invalid] {
        border-color: var(--g-colorErrorAccent);
        padding-inline-end: toRem(32);

        &::after {
          content: '';
          display: block;
          margin-right: 4px;
          width: toRem(16);
          height: toRem(20);
          background: url('@/assets/icons/alert-circle.svg') no-repeat 50% 50% transparent;
          flex-shrink: 0;
        }
      }

      &[data-invalid] + .invalidIcon {
        display: flex;
      }

      &[data-focused] {
        outline: var(--g-focusRingWidth) solid var(--g-focusRingColor);
        outline-offset: calc(var(--g-focusRingWidth) * -1);

        &[data-invalid] {
          outline: var(--g-focusRingWidth) solid var(--g-colorErrorAccent);
          outline-offset: calc(var(--g-focusRingWidth) * -1);
        }
      }

      &::placeholder {
        color: var(--g-inputPlaceholderColor);
        opacity: 1;
      }
    }
  }

  .inputContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .invalidIcon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: toRem(36);
    pointer-events: none;
    display: none;
  }

  .adornmentStart {
    border: var(--g-inputBorderWidth) solid var(--g-inputBorderColor);
    border-right: none;
    border-radius: var(--g-inputRadius) 0 0 var(--g-inputRadius);
  }

  .adornmentEnd {
    border: var(--g-inputBorderWidth) solid var(--g-inputBorderColor);
    border-left: none;
    border-radius: 0 var(--g-inputRadius) var(--g-inputRadius) 0;
  }

  .adornmentStart,
  .adornmentEnd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 toRem(12);
    min-width: toRem(36);
    flex-shrink: 0;
    color: var(--g-inputAdornmentColor);
    font-size: var(--g-fontSizeRegular);
  }
}
