.emptyData {
  margin: toRem(40) 0;
  p {
    color: var(--g-colorBodyContent);
  }
  width: 100%;
}
.title {
  font-size: var(--g-fontSizeHeading3);
  font-weight: var(--g-fontWeightMedium);
  color: var(--g-colorBodyContent);
}
