# Ignore docker related files to minimize cache busting.
# https://docs.docker.com/engine/reference/builder/#dockerignore-file
Dockerfile
.dockerignore
.DS_Store

# Ignore all node modules folder - as they will be built in the docker image
node_modules
packages/*/node_modules
.bundle/
.git/**
.idea/**
tmp/**
log/
dist/**
examples/

# ignore all markdown files (md) except for all README*.md
*.md
!README*.md

npm-debug.log

# Doc files
docs
!docs/index.html