.badge {
  display: inline-block;
  padding: toRem(2) toRem(10);
  font-size: var(--g-fontSizeSmall);
  font-weight: var(--g-fontWeightRegular);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--g-badgeRadius);
  line-height: normal;

  & + .badge {
    margin-left: toRem(4);
  }

  &[data-variant='success'] {
    color: var(--g-colorSuccessContent);
    background-color: var(--g-colorSuccess);
    border-color: var(--g-colorSuccessAccent);
  }

  &[data-variant='warning'] {
    color: var(--g-colorWarningContent);
    background-color: var(--g-colorWarning);
    border-color: var(--g-colorWarningAccent);
  }

  &[data-variant='error'] {
    color: var(--g-colorErrorContent);
    background-color: var(--g-colorError);
    border-color: var(--g-colorErrorAccent);
  }

  &[data-variant='info'] {
    color: var(--g-colorInfoContent);
    background-color: var(--g-colorInfo);
    border-color: var(--g-colorInfoAccent);
  }
}
