.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labelAndDescription {
  display: flex;
  flex-direction: column;

  &.withVisibleLabel {
    margin-bottom: toRem(4);
  }

  &.withDescription {
    margin-bottom: toRem(8);
  }
}

.errorMessage {
  margin-top: toRem(4);
}
