.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labelAndDescription {
  display: flex;
  flex-direction: column;

  &.withVisibleLabel {
    margin-bottom: var(--g-spacing-4);
  }

  &.withDescription {
    margin-bottom: var(--g-spacing-8);
  }
}

.errorMessage {
  margin-top: var(--g-spacing-4);
}
