.root {
  max-height: inherit;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  width: max-content;
  min-width: toRem(100);
  max-width: toRem(250);
  background-color: var(--g-colorBody);
  border-radius: toRem(6);
}

.menuItem {
  padding: toRem(10) toRem(16);
  outline: none;
  cursor: pointer;
  color: var(--g-colorBodyContent);
  position: relative;
  display: flex;
  align-items: center;
  gap: toRem(16);
  forced-color-adjust: none;

  &:has(svg) {
    display: flex;
    gap: toRem(16);
    align-items: center;
  }

  &[data-focused] {
    background: var(--g-colorBodyAccent);
    color: var(--g-colorBodyContent);
  }

  &[href] {
    text-decoration: none;
    cursor: pointer;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-destructive='true'] {
    color: var(--g-colorErrorContent);

    .menuIcon svg {
      color: var(--g-colorErrorContent);
    }

    &[data-focused] {
      background: var(--g-colorErrorAccent);
      color: var(--g-colorBody);

      .menuIcon svg {
        color: var(--g-colorBody);
      }
    }
  }
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
