.root {
  max-height: inherit;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  width: max-content;
  min-width: toRem(100);
  max-width: toRem(250);
  background-color: var(--g-colorBody);
  border-radius: toRem(6);
}

.menuItem {
  padding: toRem(10) toRem(16);
  outline: none;
  cursor: pointer;
  color: var(--g-colorBodyContent);
  position: relative;
  display: flex;
  align-items: center;
  gap: toRem(16);
  forced-color-adjust: none;

  &:has(svg) {
    display: flex;
    gap: toRem(16);
    align-items: center;
  }

  &[data-focused] {
    background: var(--g-colorSecondaryAccent);
    color: var(--g-colorSecondaryContent);
  }

  &[href] {
    text-decoration: none;
    cursor: pointer;
  }

  &[data-disabled] {
    color: var(--g-colorSecondaryContent);
  }
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
