.root {
  font-size: var(--g-inputLabelFontSize);
  font-weight: var(--g-inputLabelFontWeight);
  color: var(--g-inputLabelColor);
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.optionalLabel {
  font-size: smaller;
  color: var(--g-inputPlaceholderColor);
}
