.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labelAndDescription {
  display: flex;
  flex-direction: column;

  &.withVisibleLabel {
    margin-bottom: var(--g-spacing-4);
  }

  &.withDescription {
    margin-bottom: var(--g-spacing-12);
  }
}

.label {
  font-size: var(--g-input-labelFontSize);
  font-weight: var(--g-input-labelFontWeight);
  color: var(--g-input-labelColor);
}

.optionalLabel {
  content: var(--g-optionalLabel);
  font-size: smaller;
  color: var(--g-input-placeholderColor);
}

.errorMessage {
  margin-top: var(--g-spacing-4);
}
