@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-CheckboxGroup {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-8);
    color: var(--g-typography-textColor);

    .react-aria-FieldError {
      @include fieldError;
    }

    [slot='description'] {
      font-size: var(--g-typography-fontSize-small);
    }
  }
}
