@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-Checkbox {
    --selected-color: var(--g-colors-gray-1000);
    --selected-color-pressed: var(--g-colors-gray-900);
    --checkmark-color: var(--g-colors-gray-100);

    position: relative;
    display: flex;
    align-items: start;
    gap: 0.571rem;
    font-size: toRem(15);
    color: var(--g-typography-textColor);
    cursor: pointer;
    forced-color-adjust: none;

    .checkbox-details {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -2px;
    }

    .checkbox {
      width: 1.143rem;
      height: 1.143rem;
      border: var(--g-checkbox-borderWidth) solid var(--g-checkbox-borderColor);
      border-radius: var(--g-spacing-radius);
      transition: all 200ms;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      color: var(--checkmark-color);
      fill: currentColor;
      transition: all 200ms;
    }

    &[data-hovered] .checkbox {
      border-color: #000;
    }

    &[data-pressed] .checkbox {
      border-color: var(--border-color-pressed);
    }

    &[data-focus-visible] .checkbox {
      outline: var(--g-focus-borderWidth) solid var(--g-focus-color);
      outline-offset: 2px;
    }

    &[data-selected],
    &[data-indeterminate] {
      .checkbox {
        border-color: var(--selected-color);
        background: var(--selected-color);
      }

      &[data-pressed] .checkbox {
        border-color: var(--selected-color-pressed);
        background: var(--selected-color-pressed);
      }

      svg {
        stroke-dashoffset: 44;
      }
    }

    &[data-indeterminate] {
      & svg {
        stroke: none;
        fill: var(--checkmark-color);
      }
    }

    &[data-invalid] {
      .checkbox {
        border-color: var(--g-colors-error-500);

        &[data-selected] {
          background-color: var(--g-colors-error-100);
          --checkmark-color: var(--g-colors-error-500);
        }
      }

      &[data-pressed] .checkbox {
        border-color: var(--g-colors-error-800);
      }

      &[data-selected],
      &[data-indeterminate] {
        .checkbox {
          background: var(--g-colors-gray-100);
        }

        &[data-pressed] .checkbox {
          background: var(--g-colors-error-800);
        }
      }
    }

    &[data-disabled] {
      color: var(--g-typography-disabledTextColor);

      .checkbox {
        border-color: var(--g-typography-disabledTextColor);
        background-color: var(--g-colors-gray-100);
        svg {
          color: var(--g-typography-disabledTextColor);
        }
      }
      & + .react-aria-Checkbox-description {
        color: var(--g-typography-disabledTextColor);
      }
    }

    .react-aria-Checkbox-description {
      @include description;
    }
  }
}
