.GSDK {
  //TODO: style this component
  .react-aria-ComboBox {
    color: var(--g-typography-text-color);
    width: 100%;

    .react-aria-Input {
      @include formInput;
      width: 100%;
    }

    .react-aria-Button {
      margin-left: var(--g-spacing-20);
      margin-right: var(--g-input-padding);
      background: transparent;
      padding: 0;
      color: var(--g--colors-primary-700);
      forced-color-adjust: none;
      line-height: 0;

      // &[data-pressed] {
      //   box-shadow: none;
      //   background: var(--highlight-background);
      // }
    }
  }

  .react-aria-Popover[data-trigger='ComboBox'] {
    min-width: toRem(250);
    max-height: toRem(500);

    .react-aria-ListBox {
      display: block;
      width: 100%;
      max-height: inherit;
      min-height: unset;
      overflow: auto;
      outline: none;

      &[data-focus-visible] {
        @include outline;
        outline-offset: -1px;
      }

      .react-aria-Header {
        padding-left: 1.571rem;
      }
    }

    .react-aria-ListBoxItem {
      padding: toRem(12) toRem(8) toRem(12) toRem(28);
      position: relative;
      font-size: toRem(14);
      cursor: pointer;
      outline: none;
      box-sizing: border-box;

      &[data-hovered] {
        background: var(--g-colors-primary-300);
      }

      &[data-focus-visible] {
        @include outline;
        outline-offset: -2px;
      }

      &[data-selected] {
        background: var(--g-colors-primary-300);

        &[data-focus-visible] {
          outline-offset: -4px;
        }
      }
    }
  }
}
