@use '@/styles/Helpers' as *;
.GSDK {
  //TODO: style this component
  .react-aria-ComboBox {
    color: var(--g-typography-text-color);
    width: 100%;

    .react-aria-Input {
      @include formInput;
      width: 100%;
    }

    .react-aria-Button {
      margin-left: var(--g-spacing-20);
      margin-right: var(--g-input-padding);
      background: transparent;
      padding: 0;
      color: var(--g-colors-gray-700);
      forced-color-adjust: none;
      line-height: 0;

      // &[data-pressed] {
      //   box-shadow: none;
      //   background: var(--highlight-background);
      // }
    }
  }

  .react-aria-Popover[data-trigger='ComboBox'] {
    min-width: toRem(250);
    max-height: toRem(500);

    .react-aria-ListBox {
      display: block;
      width: 100%;
      max-height: inherit;
      min-height: unset;
      overflow: auto;
      outline: none;
      padding: 8px;

      &[data-focus-visible] {
        @include formFocusOutline;
      }

      .react-aria-Header {
        padding-left: 1.571rem;
      }
    }

    .react-aria-ListBoxItem {
      padding: toRem(6) toRem(12) toRem(6) toRem(12);
      position: relative;
      font-size: toRem(14);
      cursor: pointer;
      outline: none;
      box-sizing: border-box;
      border-radius: 6px;

      &[data-hovered] {
        background: var(--g-colors-gray-300);
      }

      &[data-focus-visible] {
        @include formFocusOutline;
        outline-offset: 0px;
      }

      &[data-selected] {
        background: var(--g-colors-gray-400);

        &[data-focus-visible] {
          outline-offset: -4px;
          outline-color: var(--g-colors-gray-100);
        }
      }

      &[data-focused],
      &[data-pressed] {
        //TODO: add popover styling
        // background: var(--g-input-textColor);
        // color: $highlight-foreground;
      }
    }
  }
}
