@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-DateField {
    color: var(--g-input-textColor);
    width: 100%;

    .react-aria-FieldError {
      @include fieldError;
    }
  }
  .react-aria-DateInput {
    display: flex;
    font-size: var(--g-input-fontSize);
    padding: var(--g-input-padding);
    background: var(--g-input-background);
    width: 100%;
    white-space: nowrap;
    forced-color-adjust: none;
  }

  .react-aria-DateInput:not(.react-aria-DatePicker *) {
    border: var(--g-input-borderWidth) solid var(--g-input-borderColor);
    border-radius: var(--g-radius);
    &[data-focus-within] {
      @include formFocusOutline;
    }
  }

  .react-aria-DateSegment {
    padding: 0 2px;
    font-variant-numeric: tabular-nums;
    text-align: end;
    color: var(--g-input-textColor);
    border-radius: 4px;

    &[data-type='literal'] {
      padding: 0;
    }

    &[data-placeholder] {
      color: var(--g-input-placeholderColor);
      font-style: italic;
    }

    &[data-hovered] {
      background-color: var(--g-colors-gray-400);
      color: var(--g-colors-gray-900);
    }

    &[data-invalid] {
      &:focus {
        background: var(--g-colors-error-500);
        color: var(--g-typography-datePickerErrorTextColor);
      }
    }

    &:focus {
      color: var(--g-colors-gray-100);
      background: var(--g-focus-color);
      outline: none;
      caret-color: transparent;
    }
  }
}
