.GSDK {
  .react-aria-DateField {
    color: var(--g-input-textColor);
    width: 100%;

    .react-aria-FieldError {
      @include fieldError;
    }
  }
  .react-aria-DateInput {
    display: flex;
    font-size: var(--g-input-fontSize);
    padding: var(--g-input-padding);
    background: var(--g-input-background);
    width: 100%;
    white-space: nowrap;
    forced-color-adjust: none;

    &[data-invalid] {
      border: 1px solid var(--g-typography-errorTextColor);
    }
  }
  .react-aria-DateInput:not(.react-aria-DatePicker *) {
    border: var(--g-input-borderWidth) solid var(--g-input-borderColor);
    border-radius: var(--g-spacing-radius);
    &[data-focus-within] {
      outline: var(--g-focus-borderWidth) solid var(--g-focus-color);
    }
  }

  .react-aria-DateSegment {
    padding: 0 2px;
    font-variant-numeric: tabular-nums;
    text-align: end;
    color: var(--g-input-textColor);

    &[data-type='literal'] {
      padding: 0;
    }

    &[data-placeholder] {
      color: var(--g-input-placeholderColor);
      font-style: italic;
    }

    &[data-invalid] {
      &:focus {
        background: var(--g-colors-error-100);
        color: var(--g-typography-errorTextColor);
      }
    }

    &:focus {
      color: var(--highlight-foreground);
      background: var(--highlight-background);
      outline: none;
      border-radius: 4px;
      caret-color: transparent;
    }
  }
}
