@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-DatePicker {
    color: var(--g-typography-textColor);
    width: 100%;

    .react-aria-Group {
      display: flex;
      width: 100%;
      align-items: center;
      border: var(--g-input-borderWidth) solid var(--g-input-borderColor);
      border-radius: var(--g-spacing-radius);

      &[data-focus-within] {
        &[data-invalid] {
          @include formFocusError;
        }
      }

      &[data-invalid] {
        border-color: var(--g-colors-error-500);
      }
    }

    &[data-open] {
      .react-aria-Group {
        @include formFocusOutline;
      }
    }

    .react-aria-Button {
      margin-left: var(--g-spacing-20);
      margin-right: var(--g-input-padding);
      background: transparent;
      padding: 0;
      color: var(--g-colors-gray-700);
      forced-color-adjust: none;
      line-height: 0;
    }
    .react-aria-FieldError {
      @include fieldError;
    }
  }
  .input-text-stack {
    @include inputTextStack;
  }

  [slot='description'] {
    @include description;
  }
  .react-aria-Popover[data-trigger='DatePicker'] {
    max-width: unset;
  }

  .react-aria-Calendar {
    width: fit-content;
    max-width: 100%;
    color: var(--g-colors-gray-1000);

    header {
      display: flex;
      align-items: center;
      padding: 8px;
      border-bottom: 1px solid var(--g-colors-gray-500);

      .react-aria-Heading {
        flex: 1;
        margin: 0;
        text-align: center;
        font-size: var(--g-typography-fontSize-small);
      }
    }

    .react-aria-Button {
      width: 36px;
      height: 36px;
      padding: 0;
      border-radius: 999px;
      background-color: unset;

      &[data-hovered] {
        background-color: var(--g-colors-gray-400);
      }
    }

    .react-aria-CalendarGrid {
      margin: 8px;
    }

    .react-aria-CalendarGridHeader {
      th {
        padding-bottom: 16px;
      }
    }

    .react-aria-CalendarHeaderCell {
      text-align: center;
      color: var(--g-colors-gray-800);
    }

    .react-aria-CalendarCell {
      width: 44px;
      line-height: 44px;
      text-align: center;
      border-radius: 999px;
      cursor: pointer;
      outline: none;
      margin: 1px;
      forced-color-adjust: none;

      &[data-outside-month] {
        display: none;
      }

      &[data-hovered] {
        background: var(--g-colors-gray-400);
      }

      &[data-pressed] {
        background: var(--g-colors-gray-1000);
        color: var(--g-colors-gray-100);
      }

      &[data-focus-visible] {
        @include formFocusOutline;
      }

      &[data-selected] {
        background: var(--g-colors-gray-1000);
        color: var(--g-colors-gray-100);
      }

      &[data-disabled] {
        color: var(--g-colors-gray-600);
        cursor: not-allowed;
        display: block;
      }
    }
  }
  .react-aria-Dialog {
    padding: 0 !important;
  }
}
