@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-Group {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: var(--g-radius);
    overflow: hidden;

    &[data-hovered] {
      border-color: var(--g-input-hovered-borderColor);
    }

    &[data-focus-visible] {
      outline: var(--g-focus-borderWidth) solid var(--g-focus-color);
      outline-offset: 2px;
    }

    // .react-aria-Input {
    //   padding: 0.286rem;
    //   margin: 0;
    //   font-size: 1rem;
    //   color: var(--text-color);
    //   outline: none;
    //   border: none;
    //   background: transparent;

    //   &::placeholder {
    //     color: var(--text-color-placeholder);
    //     opacity: 1;
    //   }
    // }

    // .react-aria-Button {
    //   padding: 0 6px;
    //   border-width: 0 0 0 1px;
    //   border-radius: 0 6px 6px 0;
    //   align-self: stretch;
    //   font-size: 1.5rem;
    //   &[data-focus-visible] {
    //     border-color: var(--g-focus-color);
    //     outline-width: 1px;
    //     outline-offset: 0;
    //   }
    // }
  }
}
