@use '@/styles/Helpers' as *;
.GSDK {
  --highlight-background: var(--g-colors-primary-200);
  --highlight-foreground: var(--g-colors-prinary-900);
  --text-color-disabled: var(--g-colors-primary-1000);
  .react-aria-Menu {
    max-height: inherit;
    box-sizing: border-box;
    overflow: auto;
    outline: none;
  }
  .react-aria-MenuItem {
    padding: toRem(10) toRem(16);
    border-radius: var(--g-spacing-radius);
    outline: none;
    cursor: pointer;
    color: var(--g-typography-textColor);
    position: relative;
    display: grid;
    grid-template-areas:
      'label kbd'
      'desc  kbd';
    align-items: center;
    column-gap: toRem(16);
    forced-color-adjust: none;

    &:has(svg) {
      display: flex;
      gap: toRem(16);
      align-items: center;
    }
    &[data-focused] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
    }

    &[href] {
      text-decoration: none;
      cursor: pointer;
    }

    [slot='label'] {
      font-weight: bold;
      grid-area: label;
    }

    [slot='description'] {
      font-size: small;
      grid-area: desc;
    }

    kbd {
      grid-area: kbd;
      font-family: monospace;
      text-align: end;
    }

    &[data-disabled] {
      color: var(--text-color-disabled);
    }
  }
}
