@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-NumberField {
    color: var(--g-input-textColor);
    width: 100%;
    display: flex;
    flex-direction: column;

    .input-text-stack {
      @include inputTextStack;
    }

    .react-aria-Group {
      display: flex;
      width: 100%;
      border-radius: var(--g-spacing-radius);

      &[data-focus-within] {
        outline: var(--g-focus-borderWidth) solid var(--g-focus-color);
        @include formFocusOutline;
      }
    }

    &[data-invalid] {
      .react-aria-Group[data-focus-within] {
        @include formFocusError;
      }
      .react-aria-Input {
        border-color: var(--g-colors-error-500);
      }
    }

    .react-aria-Input {
      background: var(--g-input-background);
      border: var(--g-input-borderWidth) solid var(--g-input-borderColor);
      border-radius: var(--g-spacing-radius);
      color: var(--g-input-textColor);
      font-size: var(--g-input-fontSize);
      padding: var(--g-input-padding);
      outline: none;
      flex: 1;

      &[data-disabled] {
        border-color: var(--g-input-disabled-border);
        color: var(--g-input-disabled-color);
        background-color: var(--g-input-disabled-bg);
      }
    }

    .input-text {
      @include inputTextStack;
    }

    .react-aria-FieldError {
      @include fieldError;
    }

    [slot='description'] {
      @include description;
    }
  }
}
