@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-Select {
    color: var(--g--colors-primary-1000);
    width: 100%;

    .react-aria-Button {
      border: var(--g-input-borderWidth) solid var(--g-input-borderColor);
      border-radius: var(--g-spacing-radius);
      padding: var(--g-input-padding);
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      background: var(--g--input-background);
      color: var(--g--input-textColor);
      font-weight: 400;
      line-height: toRem(24);
      margin-top: var(--g-spacing-8);

      &[data-focus-visible] {
        @include outline;
        outline-offset: 0;
      }
    }
    &[data-invalid='true'] {
      .react-aria-Button {
        border-color: var(--g-colors-error-500);
      }
    }

    .react-aria-SelectValue {
      &[data-placeholder] {
        color: var(--g-input-placeholderColor);
      }
    }
    .react-aria-Text[slot='description'] {
      @include description;
    }

    :where(span, div)[aria-hidden] {
      margin-left: var(--g-spacing-20);
      background: transparent;
      color: var(--g--colors-primary-700);
      forced-color-adjust: none;
      line-height: 0;
    }
    .react-aria-FieldError {
      @include fieldError;
    }
  }
  //TODO: reastyle once popever design is available
  .react-aria-Popover[data-trigger='Select'] {
    min-width: toRem(250);
    max-height: toRem(500);

    .react-aria-ListBox {
      display: block;
      width: 100%;
      max-height: inherit;
      min-height: unset;
      overflow: auto;
      outline: none;

      &[data-focus-visible] {
        @include outline;
        outline-offset: -1px;
      }

      .react-aria-Header {
        padding-left: 1.571rem;
      }
    }

    .react-aria-ListBoxItem {
      padding: toRem(12) toRem(8) toRem(12) toRem(28);
      position: relative;
      font-size: toRem(14);
      cursor: pointer;
      outline: none;
      box-sizing: border-box;

      &[data-hovered] {
        background: var(--g-colors-primary-300);
      }

      &[data-focus-visible] {
        @include outline;
        outline-offset: -2px;
      }

      &[data-selected] {
        background: var(--g-colors-primary-300);

        &::before {
          content: '✓';
          alt: ' ';
          position: absolute;
          top: 12px;
          left: 8px;
        }

        &[data-focus-visible] {
          outline-offset: -4px;
        }
      }

      &[data-focused],
      &[data-pressed] {
        //TODO: add popover styling
        // background: var(--g-input-textColor);
        // color: $highlight-foreground;
      }
    }
  }
}
