@use '@/styles/Helpers' as *;
.GSDK {
  .react-aria-TextField {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--g-input-textColor);

    &:not([data-required]) {
      .react-aria-Label {
        &::after {
          content: var(--g-optionalLabel);
          font-size: smaller;
          color: var(--g-input-placeholderColor);
        }
      }
    }

    .react-aria-Input,
    .react-aria-TextArea {
      @include formInput;
    }

    .react-aria-FieldError {
      @include fieldError;
    }

    [slot='description'] {
      @include description;
    }
  }
}
