.root {
  &:global(.react-aria-Button) {
    position: relative;
    border: none;
    color: var(--g-colorPrimaryContent);
    background: var(--g-colorPrimary);
    border-radius: var(--g-buttonRadius);
    vertical-align: middle;
    font-size: toRem(14);
    font-weight: var(--g-fontWeightMedium);
    line-height: toRem(24);
    min-height: toRem(42);
    letter-spacing: 0.32px;
    text-align: center;
    margin: 0;
    outline: none;
    padding: toRem(8) toRem(16);
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    border: 1px solid var(--g-colorPrimary);

    &:hover:not([data-disabled]) {
      background: var(--g-colorPrimaryAccent);
      border-color: var(--g-colorPrimaryAccent);
    }

    &:active:not([data-disabled]) {
      background: var(--g-colorPrimary);
      border-color: var(--g-colorPrimary);
    }

    &[data-variant='secondary'] {
      color: var(--g-colorSecondaryContent);
      background: var(--g-colorSecondary);
      border-color: var(--g-colorSecondaryContent);

      &:hover:not([data-disabled]) {
        background: var(--g-colorSecondaryAccent);
      }

      &:active:not([data-disabled]) {
        background: var(--g-colorSecondary);
      }
    }

    &[data-variant='tertiary'] {
      color: var(--g-colorSecondaryContent);
      background: transparent;
      border-color: transparent;

      &:hover:not([data-disabled]) {
        background: var(--g-colorSecondaryAccent);
        border-color: var(--g-colorSecondaryAccent);
      }

      &:active:not([data-disabled]) {
        background: transparent;
        border-color: transparent;
      }
    }

    &[data-variant='error'] {
      color: var(--g-colorError);
      background: var(--g-colorErrorContent);
      border-color: var(--g-colorErrorContent);

      &:hover:not([data-disabled]) {
        background: var(--g-colorErrorAccent);
        border-color: var(--g-colorErrorAccent);
      }

      &:active:not([data-disabled]) {
        background: var(--g-colorErrorContent);
        border-color: var(--g-colorErrorContent);
      }
    }

    &[data-loading='true'] {
      color: transparent;

      &::after {
        content: '';
        position: absolute;
        width: toRem(24);
        height: toRem(24);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        mask: url('@/assets/icons/spinner_small.svg') no-repeat 50% 50%;
        background-color: var(--g-colorPrimaryContent);
        animation: button-loading-spinner 1s ease infinite;
      }

      &[data-variant='primary'] {
        &::after {
          background-color: var(--g-colorPrimaryContent);
        }
      }

      &[data-variant='secondary'] {
        &::after {
          background-color: var(--g-colorSecondaryContent);
        }
      }

      &[data-variant='tertiary'] {
        &::after {
          background-color: var(--g-colorSecondaryContent);
        }
      }

      &[data-variant='error'] {
        &::after {
          background-color: var(--g-colorError);
        }
      }
    }

    &[data-focus-visible] {
      outline: var(--g-focus-borderWidth) solid var(--g-focusRingColor);
      outline-offset: 2px;
    }

    &[data-disabled]:not([data-loading='true']) {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &[data-loading='true'] {
      cursor: not-allowed;
    }
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
