.root {
  :global(.react-aria-Switch) {
    --selected-color: var(--g-colors-gray-1000);
    --selected-color-pressed: var(--g-colors-gray-900);

    position: relative;

    font-size: toRem(15);
    color: var(--g-typography-textColor);
    cursor: pointer;
    forced-color-adjust: none;

    .body {
      display: flex;
      align-items: start;
      gap: toRem(9);
    }

    .switch-details {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -2px;
    }

    .indicator {
      width: toRem(32); /* was 2.286rem (32px) */
      height: toRem(16); /* was 1.143rem (16px) */
      background: var(--g-colors-gray-200);
      border-radius: toRem(14); /* was 1rem (14px) */
      transition: all 200ms;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: toRem(2); /* was 0.143rem (2px) */
        left: toRem(2); /* was 0.143rem (2px) */
        width: toRem(12); /* was 0.857rem (12px) */
        height: toRem(12); /* was 0.857rem (12px) */
        background: var(--g-colors-gray-600);
        border-radius: 50%;
        transition: all 200ms;
      }
    }

    &[data-hovered] .indicator {
      background: var(--g-colors-gray-300);
    }

    &[data-pressed] .indicator {
      background: var(--g-colors-gray-400);
    }

    &[data-focus-visible] .indicator {
      outline: var(--g-focus-borderWidth) solid var(--g-focus-color);
      outline-offset: 2px;
    }

    &[data-selected] {
      .indicator {
        background: var(--selected-color);

        &::after {
          background: var(--g-colors-gray-100);
          transform: translateX(toRem(16)); /* was 1.143rem (16px) */
        }
      }

      &[data-pressed] .indicator {
        background: var(--selected-color-pressed);
      }
    }

    &[data-disabled] {
      color: var(--g-typography-disabledTextColor);
      cursor: not-allowed;

      .indicator {
        background: var(--g-colors-gray-100);

        &::after {
          background: var(--g-colors-gray-300);
        }
      }

      &[data-selected] .indicator::after {
        background: var(--g-colors-gray-400);
      }
    }
  }
}
