.root {
  :global(.react-aria-Switch) {
    position: relative;

    font-size: toRem(15);
    cursor: pointer;
    forced-color-adjust: none;

    .body {
      display: flex;
      align-items: start;
      gap: toRem(9);
    }

    .switch-details {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -2px;
    }

    .indicator {
      width: toRem(32);
      height: toRem(16);
      background: var(--g-colorSecondaryAccent);
      border-radius: toRem(14);
      transition: all var(--g-transitionDuration);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: toRem(2);
        left: toRem(2);
        width: toRem(12);
        height: toRem(12);
        background: var(--g-colorSecondaryContent);
        opacity: 0.3;
        border-radius: 50%;
        transition: all var(--g-transitionDuration);
      }
    }

    &[data-hovered] .indicator {
      background: var(--g-colorSecondaryAccent);
    }

    &[data-pressed] .indicator {
      background: var(--g-colorSecondaryAccent);
    }

    &[data-focus-visible] .indicator {
      outline: var(--g-focusRingWidth) solid var(--g-focusRingColor);
      outline-offset: 2px;
    }

    &[data-selected] {
      .indicator {
        background: var(--g-colorPrimary);

        &::after {
          background: var(--g-colorPrimaryContent);
          transform: translateX(toRem(16));
          opacity: 1;
        }
      }

      &[data-pressed] .indicator {
        background: var(--g-colorPrimaryAccent);
      }
    }

    &[data-disabled] {
      cursor: not-allowed;

      .indicator {
        opacity: 0.2;
      }

      &[data-selected] .indicator::after {
        background: var(--g-colorSecondaryAccent);
      }
    }
  }
}
