:global(.GSDK) {
  .root {
    display: flex;
    align-self: stretch;
    background-color: var(--g-colorBodyAccent);
    border-radius: 9999px;
    height: toRem(8);
    margin-bottom: toRem(32);
    &::before {
      border-radius: 9999px;
      content: '';
      display: block;
      height: 100%;
      width: var(--g-progress-bar-width);
      background-color: var(--g-colorPrimary);
      transition: width 0.5s ease-out;
    }
  }
}
