h5.columnTitle {
  font-size: var(--g-fontSizeSmall);
  font-weight: var(--g-fontWeightMedium);
  color: var(--g-colorBodySubContent);
  margin: 0;
}

.columnData {
  width: 100%;
  color: var(--g-colorBodyContent);
}

.footerItem {
  width: 100%;
}
