.payScheduleContainer {
  width: 100%;
}

.payScheduleForm {
  width: 100%;
}

.visuallyHidden {
  display: none;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  gap: toRem(16);
}
