.internalErrorCardTitle {
  color: var(--g-colorBodyContent);
}

.internalErrorCard {
  background-color: var(--g-colorBody);
  border-right: 1px solid var(--g-colorBorder);
  border-bottom: 1px solid var(--g-colorBorder);
  border-left: 1px solid var(--g-colorBorder);
  box-shadow:
    0px 1px 18px rgba(0, 0, 0, 0.08),
    inset 0 4px 0 var(--g-colorErrorContent);
  padding: toRem(20);
  display: flex;
  flex-direction: column;
  gap: toRem(8);
  max-width: toRem(600);
  margin: 0 auto;
}

.errorMessage {
  font-size: var(--g-fontSizeSmall);
  font-weight: var(--g-fontWeightMedium);
  color: var(--g-colorErrorContent);
  line-height: normal;
  margin-top: toRem(6);
}
