h1 {
  font-size: toRem(21) !important;
  color: var(--g-colors-gray-1000);
}

.internalErrorCard {
  background-color: var(--g-colors-gray-100);
  border-right: 1px solid var(--g-card-borderColor);
  border-bottom: 1px solid var(--g-card-borderColor);
  border-left: 1px solid var(--g-card-borderColor);
  box-shadow:
    0px 1px 18px rgba(0, 0, 0, 0.08),
    inset 0 4px 0 var(--g-colors-error-500);
  padding: toRem(20);
  display: flex;
  flex-direction: column;
  gap: toRem(8);
  max-width: toRem(600);
  margin: 0 auto;
}

.errorMessage {
  font-size: var(--g-typography-fontSize-small);
  font-weight: var(--g-typography-fontWeight-medium);
  color: var(--g-colors-error-500);
  line-height: normal;
  margin-top: toRem(6);
}
