:global(.GSDK) {
  .container {
    width: 100%;
  }

  .embedPdf {
    width: 100%;
    height: toRem(700);
    border: 1px solid var(--g-colorBodyContent);
  }

  .smallEmbedPdfContainer {
    padding: toRem(24);
    background: var(--g-colorBodyAccent);
  }

  .smallEmbedPdf {
    width: toRem(100);
    height: toRem(134);
    flex-shrink: 0;
    border: 1px solid var(--g-colorBorder);
    border-radius: toRem(4);
    box-shadow: var(--g-shadowResting);
    overflow: hidden;
    pointer-events: none;
  }

  .heading {
    font-size: var(--g-fontSizeHeading4);
  }

  .downloadInstructions {
    margin-bottom: 0;
  }
}
