.root {
  color: var(--g-colorPrimary);
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  position: relative;
  border-radius: toRem(6);

  &[data-hovered],
  &:hover {
    color: var(--g-colorPrimaryAccent);
    text-decoration: underline;
  }

  &[data-pressed],
  &:visited {
    color: var(--g-colorPrimary);
  }

  &[data-focus-visible] {
    outline: var(--g-focusRingWidth) solid var(--g-focusRingColor);
    outline-offset: 2px;
  }

  &[data-current] {
    color: var(--g-colorBodyContent);
    outline: none;
    text-decoration: none;
  }
}
