.root {
  width: 100%;

  :global(.react-aria-Input) {
    height: var(--g-input-height);
    padding: var(--g-input-paddingY) var(--g-input-paddingX);
    margin: 0;
    border: var(--g-input-borderWidth) solid var(--g-input-borderColor);
    border-radius: 6px;
    background: var(--g-input-background);
    font-size: var(--g-input-fontSize);
    color: var(--g-input-textColor);
    line-height: toRem(24);

    &[data-focused] {
      @include formFocusOutline;

      &[data-invalid] {
        @include formFocusError;
      }
    }

    &[data-invalid] {
      border-color: var(--g-colors-error-500);
    }

    &[data-disabled] {
      border-color: var(--g-input-disabled-border);
      color: var(--g-input-disabled-color);
      background-color: var(--g-input-disabled-bg);
    }
  }
}
