.flexContainer {
  container-type: inline-size;
  width: 100%;
}

.flex {
  display: flex;

  @include responsive-properties(
    (
      'flex-direction': row,
      'justify-content': normal,
      'align-items': normal,
      'gap': normal,
    )
  );
}
