:global(.GSDK) {
  .root {
    margin: 0;
    font-weight: var(--g-fontWeightRegular);
    line-height: 1.5;
  }

  .sm {
    font-size: var(--g-fontSizeSmall);
  }

  .md {
    font-size: var(--g-fontSizeRegular);
  }

  .lg {
    font-size: var(--g-fontSizeLarge);
  }

  .weight-regular {
    font-weight: var(--g-fontWeightRegular);
  }

  .weight-medium {
    font-weight: var(--g-fontWeightMedium);
  }

  .weight-semibold {
    font-weight: var(--g-fontWeightSemibold);
  }

  .weight-bold {
    font-weight: var(--g-fontWeightBold);
  }

  .textAlign-start {
    text-align: start;
  }

  .textAlign-center {
    text-align: center;
  }

  .textAlign-end {
    text-align: end;
  }

  .variant-supporting {
    color: var(--g-colorBodyContent);
    line-height: var(--g-fontLineHeight);
  }
}
